@model IEnumerable<EXAMEN_FINAL.Models.Jugador>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreJugador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valoracion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dorsal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreJugador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valoracion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dorsal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
